.articleCard {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-around;
  gap: 20px;

  &:not(:last-child) {
    margin-bottom: 20px;
  }

  .articleImage {
    width: 165px;
    height: 110px;
  }

  .articleContent {
    .articleTitle {
      font-family: var(--font-family);
      font-weight: 400;
      font-size: 16px;
      line-height: 145%;
      color: #00365c;
    }

    .articleDescription {
      font-family: var(--font-family);
      font-weight: 400;
      font-size: 14px;
      line-height: 145%;
      color: #404040;
    }
  }
}
