.newResumePage {
  .newResumePageWrapper {
    background: #fff;
    border-radius: 10px;
    padding: 45px 35px;
    z-index: 9999;
    max-width: 900px;
  }
  .title {
    margin-bottom: 60px;
    h3 {
      font-family: var(--font-family);
      font-weight: 400;
      font-size: 24px;
      line-height: 100%;
      text-transform: uppercase;
      color: #000;
    }
  }

  .tabs {
    display: flex;
    gap: 20px;
    margin-bottom: 60px;

    .tab {
      font-family: var(--font-family);
      font-weight: 400;
      font-size: 17px;
      line-height: 100%;
      text-transform: uppercase;
      color: #000;
      text-decoration: none;
      border-bottom: 3px solid #ddd;
      padding-bottom: 5px;
    }
    .activeTab {
      border-bottom: 3px solid #f6b920;
    }
  }
}
