// components/ServiceWidget.module.scss

.serviceWidget {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: left;
  padding: 20px;

  .icon {
  }

  .title {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    color: #00365c;
  }

  .descriptionList {
    list-style: none;
    line-height: 1.7;
    padding: 0;
    margin: 0;

    .descriptionItem a {
      font-family: var(--font-family);
      text-decoration: none;
      font-weight: 300;
      font-size: 14px;
      line-height: 100%;
      color: #00365c;
      margin-bottom: 11px;
      margin-top: 11px;
    }
  }
}
