.root {
  .searchWidgets {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    gap: 15px;

    > div {
      flex: 1;
      min-width: 250px; // Минимальная ширина виджета
    }
  }

  .serviceWidgets {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 50px;
  }

  .careerAndWorkWidgets {
    display: flex;
    flex-direction: row;
    gap: 50px;

    > div {
      flex: 1;
      min-width: 250px; // Минимальная ширина виджета
    }
  }
}
