.blogCard {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-around;
  gap: 20px;

  &:not(:last-child) {
    margin-bottom: 54px;
  }

  .blogImage {
    max-width: 165px;
    height: 110px;
  }

  .blogContent {
    .blogPostedDate {
      font-family: var(--font-family);
      font-weight: 300;
      font-size: 14px;
      line-height: 100%;
      color: #000;
    }

    .blogDescription {
      font-family: var(--font-family);
      font-weight: 400;
      font-size: 16px;
      line-height: 135%;
      color: #000;
    }
  }
}
